In [2]:
import pandas as pd
import numpy as np
#실제 그래프를 그릴 수 있는 서브 함수
import matplotlib.pyplot as plt
import seaborn as sns

#경고표시 생략(일시적으로 생략하는게 좋음) 
import warnings
warnings.filterwarnings(action='ignore')

#한글폰트 지정 
import matplotlib.font_manager as fm
font_name= fm.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font",family=font_name)

import matplotlib as mpl
mpl.rcParams['axes.unicode_minus']=False

In [3]:
cr = pd.read_excel('data/2014_19년 서울_경기 개별 교통사고 정보 (2).xlsx')
cr.head()

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,노면상태,기상상태,가해당사자종별,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도
0,20140101,00시,0,0,1,0,서울,종로구,숭인동,차대차,...,젖음/습기,흐림,승합차,남,48세,기타불명,승용차,남,65세,상해없음
1,20140101,00시,0,0,1,0,서울,강북구,번동,차대사람,...,건조,맑음,불명,기타불명,불명,기타불명,보행자,남,60세,경상
2,20140101,00시,0,1,0,0,서울,강동구,천호동,차대사람,...,건조,맑음,승용차,남,38세,상해없음,보행자,남,59세,중상
3,20140101,00시,0,0,2,0,서울,구로구,궁동,차대차,...,건조,맑음,승용차,남,25세,상해없음,승용차,남,41세,경상
4,20140101,00시,0,0,0,2,서울,구로구,오류동,차대차,...,건조,맑음,승용차,남,31세,상해없음,승용차,남,65세,부상신고

In [4]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550791 entries, 0 to 550790
Data columns (total 26 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   발생일        550791 non-null  int64
 1   발생시간       550791 non-null  object
 2   사망자수       550791 non-null  int64
 3   중상자수       550791 non-null  int64
 4   경상자수       550791 non-null  int64
 5   부상신고자수     550791 non-null  int64
 6   발생지_시도     550791 non-null  object
 7   발생지_시군구    550791 non-null  object
 8   법정동명       550773 non-null  object
 9   사고유형_대분류   550791 non-null  object
 10  사고유형_중분류   550791 non-null  object
 11  사고유형       550791 non-null  object
 12  가해자법규위반    550791 non-null  object
 13  도로형태_대분류   550791 non-null  object
 14  도로형태       550791 non-null  object
 15  노면상태_대분류   550791 non-null  object
 16  노면상태       550791 non-null  object
 17  기상상태       550791 non-null  object
 18  가해당사자종별    550791 non-null  object
 19  가해자성별      550791 non-null  object
 20  가해자연령      550791 non-null  object
 21  가해자신체상해정도  550791 non-null  object
 22  피해당사자종별    550791 non-null  object
 23  피해자성별      550791 non-null  object
 24  피해자연령      550791 non-null  object
 25  피해자신체상해정도  550791 non-null  object
dtypes: int64(5), object(21)
memory usage: 109.3+ MB

In [18]:
# 서울시만 뽑기
cr1=cr[cr['발생지_시도']=='서울']
cr1.head()

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,노면상태,기상상태,가해당사자종별,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도
0,20140101,00시,0,0,1,0,서울,종로구,숭인동,차대차,...,젖음/습기,흐림,승합차,남,48세,기타불명,승용차,남,65세,상해없음
1,20140101,00시,0,0,1,0,서울,강북구,번동,차대사람,...,건조,맑음,불명,기타불명,불명,기타불명,보행자,남,60세,경상
2,20140101,00시,0,1,0,0,서울,강동구,천호동,차대사람,...,건조,맑음,승용차,남,38세,상해없음,보행자,남,59세,중상
3,20140101,00시,0,0,2,0,서울,구로구,궁동,차대차,...,건조,맑음,승용차,남,25세,상해없음,승용차,남,41세,경상
4,20140101,00시,0,0,0,2,서울,구로구,오류동,차대차,...,건조,맑음,승용차,남,31세,상해없음,승용차,남,65세,부상신고

In [24]:
#발생일 datetime으로 바꾸기 
cr1['발생일']=cr1['발생일'].astype(str)
cr1['발생일']=pd.to_datetime(cr1['발생일'])
cr1.info()
print(cr1.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239174 entries, 0 to 550787
Data columns (total 26 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   발생일        239174 non-null  datetime64[ns]
 1   발생시간       239174 non-null  object
 2   사망자수       239174 non-null  int64
 3   중상자수       239174 non-null  int64
 4   경상자수       239174 non-null  int64
 5   부상신고자수     239174 non-null  int64
 6   발생지_시도     239174 non-null  object
 7   발생지_시군구    239174 non-null  object
 8   법정동명       239168 non-null  object
 9   사고유형_대분류   239174 non-null  object
 10  사고유형_중분류   239174 non-null  object
 11  사고유형       239174 non-null  object
 12  가해자법규위반    239174 non-null  object
 13  도로형태_대분류   239174 non-null  object
 14  도로형태       239174 non-null  object
 15  노면상태_대분류   239174 non-null  object
 16  노면상태       239174 non-null  object
 17  기상상태       239174 non-null  object
 18  가해당사자종별    239174 non-null  object
 19  가해자성별      239174 non-null  object
 20  가해자연령      239174 non-null  object
 21  가해자신체상해정도  239174 non-null  object
 22  피해당사자종별    239174 non-null  object
 23  피해자성별      239174 non-null  object
 24  피해자연령      239174 non-null  object
 25  피해자신체상해정도  239174 non-null  object
dtypes: datetime64[ns](1), int64(4), object(21)
memory usage: 49.3+ MB
         발생일 발생시간  사망자수  중상자수  경상자수  부상신고자수 발생지_시도 발생지_시군구 법정동명 사고유형_대분류  ...  \
0 2014-01-01  00시     0     0     1       0     서울     종로구  숭인동      차대차  ...
1 2014-01-01  00시     0     0     1       0     서울     강북구   번동     차대사람  ...
2 2014-01-01  00시     0     1     0       0     서울     강동구  천호동     차대사람  ...
3 2014-01-01  00시     0     0     2       0     서울     구로구   궁동      차대차  ...
4 2014-01-01  00시     0     0     0       2     서울     구로구  오류동      차대차  ...

    노면상태 기상상태 가해당사자종별 가해자성별 가해자연령 가해자신체상해정도 피해당사자종별 피해자성별 피해자연령 피해자신체상해정도
0  젖음/습기   흐림     승합차     남   48세      기타불명     승용차     남   65세      상해없음
1     건조   맑음      불명  기타불명    불명      기타불명     보행자     남   60세        경상
2     건조   맑음     승용차     남   38세      상해없음     보행자     남   59세        중상
3     건조   맑음     승용차     남   25세      상해없음     승용차     남   41세        경상
4     건조   맑음     승용차     남   31세      상해없음     승용차     남   65세      부상신고

[5 rows x 26 columns]

In [32]:
cr1['발생일']=cr1['발생일'].astype('str')
sp = cr1['발생일'].str.split('-',expand=True)
sp.head()

      0   1   2
0  2014  01  01
1  2014  01  01
2  2014  01  01
3  2014  01  01
4  2014  01  01

In [34]:
sp.columns=['연','월','일']
sp.head()

      연   월   일
0  2014  01  01
1  2014  01  01
2  2014  01  01
3  2014  01  01
4  2014  01  01

In [36]:
cr2=pd.concat([cr1,sp],axis=1)
cr2.head()

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도,연,월,일
0,2014-01-01,00시,0,0,1,0,서울,종로구,숭인동,차대차,...,남,48세,기타불명,승용차,남,65세,상해없음,2014,01,01
1,2014-01-01,00시,0,0,1,0,서울,강북구,번동,차대사람,...,기타불명,불명,기타불명,보행자,남,60세,경상,2014,01,01
2,2014-01-01,00시,0,1,0,0,서울,강동구,천호동,차대사람,...,남,38세,상해없음,보행자,남,59세,중상,2014,01,01
3,2014-01-01,00시,0,0,2,0,서울,구로구,궁동,차대차,...,남,25세,상해없음,승용차,남,41세,경상,2014,01,01
4,2014-01-01,00시,0,0,0,2,서울,구로구,오류동,차대차,...,남,31세,상해없음,승용차,남,65세,부상신고,2014,01,01

In [44]:
cr2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239174 entries, 0 to 550787
Data columns (total 29 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   발생일        239174 non-null  object
 1   발생시간       239174 non-null  object
 2   사망자수       239174 non-null  int64
 3   중상자수       239174 non-null  int64
 4   경상자수       239174 non-null  int64
 5   부상신고자수     239174 non-null  int64
 6   발생지_시도     239174 non-null  object
 7   발생지_시군구    239174 non-null  object
 8   법정동명       239168 non-null  object
 9   사고유형_대분류   239174 non-null  object
 10  사고유형_중분류   239174 non-null  object
 11  사고유형       239174 non-null  object
 12  가해자법규위반    239174 non-null  object
 13  도로형태_대분류   239174 non-null  object
 14  도로형태       239174 non-null  object
 15  노면상태_대분류   239174 non-null  object
 16  노면상태       239174 non-null  object
 17  기상상태       239174 non-null  object
 18  가해당사자종별    239174 non-null  object
 19  가해자성별      239174 non-null  object
 20  가해자연령      239174 non-null  object
 21  가해자신체상해정도  239174 non-null  object
 22  피해당사자종별    239174 non-null  object
 23  피해자성별      239174 non-null  object
 24  피해자연령      239174 non-null  object
 25  피해자신체상해정도  239174 non-null  object
 26  연          239174 non-null  object
 27  월          239174 non-null  object
 28  일          239174 non-null  object
dtypes: int64(4), object(25)
memory usage: 54.7+ MB

In [45]:
# 2018,2019년도 데이처만 가져오기
cr3 = cr2[(cr2['연'] == '2018') | (cr2['연'] =='2019')]
cr3

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도,연,월,일
363827,2018-01-01,00시,0,0,2,0,서울,용산구,이태원동,차대차,...,남,35세,경상,승용차,남,63세,경상,2018,01,01
363828,2018-01-01,00시,0,1,1,0,서울,강동구,강일동,차대차,...,남,76세,상해없음,화물차,남,58세,경상,2018,01,01
363829,2018-01-01,00시,0,0,1,0,서울,송파구,방이동,차대사람,...,남,19세,상해없음,보행자,여,38세,경상,2018,01,01
363830,2018-01-01,00시,0,1,0,0,서울,성북구,하월곡동,차대사람,...,남,64세,상해없음,보행자,남,56세,중상,2018,01,01
363835,2018-01-01,01시,0,0,1,0,서울,강북구,수유동,차대사람,...,남,17세,기타불명,보행자,남,64세,경상,2018,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550776,2019-12-31,22시,0,0,0,1,서울,중랑구,면목동,차대사람,...,남,28세,상해없음,보행자,여,33세,부상신고,2019,12,31
550777,2019-12-31,22시,0,0,1,0,서울,강남구,삼성동,차대차,...,여,41세,상해없음,승용차,여,61세,경상,2019,12,31
550778,2019-12-31,22시,0,0,1,0,서울,송파구,송파동,차대사람,...,남,36세,상해없음,보행자,여,18세,경상,2019,12,31
550786,2019-12-31,23시,0,0,0,2,서울,강남구,역삼동,차량단독,...,남,59세,상해없음,없음,없음,없음,없음,2019,12,31
550787,2019-12-31,23시,0,0,1,0,서울,강남구,수서동,차대차,...,남,50세,상해없음,승용차,남,53세,경상,2019,12,31

In [46]:
cr3.to_csv('data/2018-2019교통사고.csv')

In [52]:
cr3=cr3.reset_index()

In [55]:
del cr3['index']

In [56]:
cr3

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도,연,월,일
0,2018-01-01,00시,0,0,2,0,서울,용산구,이태원동,차대차,...,남,35세,경상,승용차,남,63세,경상,2018,01,01
1,2018-01-01,00시,0,1,1,0,서울,강동구,강일동,차대차,...,남,76세,상해없음,화물차,남,58세,경상,2018,01,01
2,2018-01-01,00시,0,0,1,0,서울,송파구,방이동,차대사람,...,남,19세,상해없음,보행자,여,38세,경상,2018,01,01
3,2018-01-01,00시,0,1,0,0,서울,성북구,하월곡동,차대사람,...,남,64세,상해없음,보행자,남,56세,중상,2018,01,01
4,2018-01-01,01시,0,0,1,0,서울,강북구,수유동,차대사람,...,남,17세,기타불명,보행자,남,64세,경상,2018,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78048,2019-12-31,22시,0,0,0,1,서울,중랑구,면목동,차대사람,...,남,28세,상해없음,보행자,여,33세,부상신고,2019,12,31
78049,2019-12-31,22시,0,0,1,0,서울,강남구,삼성동,차대차,...,여,41세,상해없음,승용차,여,61세,경상,2019,12,31
78050,2019-12-31,22시,0,0,1,0,서울,송파구,송파동,차대사람,...,남,36세,상해없음,보행자,여,18세,경상,2019,12,31
78051,2019-12-31,23시,0,0,0,2,서울,강남구,역삼동,차량단독,...,남,59세,상해없음,없음,없음,없음,없음,2019,12,31
78052,2019-12-31,23시,0,0,1,0,서울,강남구,수서동,차대차,...,남,50세,상해없음,승용차,남,53세,경상,2019,12,31

In [63]:
rain2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10192 entries, 0 to 10191
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         10192 non-null  object
 1   지점명           10186 non-null  object
 2   일시            10186 non-null  datetime64[ns]
 3   강수량(mm)       10181 non-null  float64
 4   1시간최다강수량(mm)  10183 non-null  float64
 5   1시간최다강수량시각    10186 non-null  object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 477.9+ KB

In [73]:
rain2018.shape

(10192, 6)

In [126]:
rain2018 = pd.read_csv('data/2018년 서울 일별 강우량 데이터.csv',encoding='cp949',header=7)
rain2018

       \t지점번호  지점명          일시  강수량(mm)  1시간최다강수량(mm) 1시간최다강수량시각  Unnamed: 6
0         400   강남  2018-01-01      0.0           0.0      00:01         NaN
1         400   강남  2018-01-02      0.0           0.0      00:01         NaN
2         400   강남  2018-01-03      0.0           0.0      00:01         NaN
3         400   강남  2018-01-04      0.0           0.0      00:01         NaN
4         400   강남  2018-01-05      0.0           0.0      00:01         NaN
...       ...  ...         ...      ...           ...        ...         ...
10181     889  현충원  2018-12-27      0.0           0.0      00:01         NaN
10182     889  현충원  2018-12-28      0.0           0.0      00:01         NaN
10183     889  현충원  2018-12-29      0.0           0.0      00:01         NaN
10184     889  현충원  2018-12-30      0.0           0.0      00:01         NaN
10185     889  현충원  2018-12-31      0.0           0.0      00:01         NaN

[10186 rows x 7 columns]

In [127]:
rain2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10186 entries, 0 to 10185
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   	지점번호         10186 non-null  int64
 1   지점명           10186 non-null  object
 2   일시            10186 non-null  object
 3   강수량(mm)       10181 non-null  float64
 4   1시간최다강수량(mm)  10183 non-null  float64
 5   1시간최다강수량시각    10186 non-null  object
 6   Unnamed: 6    0 non-null      float64
dtypes: float64(3), int64(1), object(3)
memory usage: 557.2+ KB

In [128]:
del rain2018['\t지점번호']
del rain2018['1시간최다강수량시각']
del rain2018['Unnamed: 6']

In [129]:
rain2018

       지점명          일시  강수량(mm)  1시간최다강수량(mm)
0       강남  2018-01-01      0.0           0.0
1       강남  2018-01-02      0.0           0.0
2       강남  2018-01-03      0.0           0.0
3       강남  2018-01-04      0.0           0.0
4       강남  2018-01-05      0.0           0.0
...    ...         ...      ...           ...
10181  현충원  2018-12-27      0.0           0.0
10182  현충원  2018-12-28      0.0           0.0
10183  현충원  2018-12-29      0.0           0.0
10184  현충원  2018-12-30      0.0           0.0
10185  현충원  2018-12-31      0.0           0.0

[10186 rows x 4 columns]

In [130]:
rain2019 = pd.read_csv('data/2019년 서울 일별 강우량 데이터.csv',encoding='cp949',header=7)
rain2019

      \t지점번호  지점명          일시  강수량(mm)  1시간최다강수량(mm) 1시간최다강수량시각  Unnamed: 6
0        400   강남  2019-01-01      0.0           0.0      00:01         NaN
1        400   강남  2019-01-02      0.0           0.0      00:01         NaN
2        400   강남  2019-01-03      0.0           0.0      00:01         NaN
3        400   강남  2019-01-04      0.0           0.0      00:01         NaN
4        400   강남  2019-01-05      0.0           0.0      00:01         NaN
...      ...  ...         ...      ...           ...        ...         ...
9840     889  현충원  2019-12-27      0.0           0.0      00:01         NaN
9841     889  현충원  2019-12-28      0.0           0.0      00:01         NaN
9842     889  현충원  2019-12-29      1.5           1.0      22:01         NaN
9843     889  현충원  2019-12-30      0.0           0.0      00:01         NaN
9844     889  현충원  2019-12-31      0.0           0.0      00:01         NaN

[9845 rows x 7 columns]

In [131]:
del rain2019['\t지점번호']
del rain2019['1시간최다강수량시각']
del rain2019['Unnamed: 6']
rain2019

      지점명          일시  강수량(mm)  1시간최다강수량(mm)
0      강남  2019-01-01      0.0           0.0
1      강남  2019-01-02      0.0           0.0
2      강남  2019-01-03      0.0           0.0
3      강남  2019-01-04      0.0           0.0
4      강남  2019-01-05      0.0           0.0
...   ...         ...      ...           ...
9840  현충원  2019-12-27      0.0           0.0
9841  현충원  2019-12-28      0.0           0.0
9842  현충원  2019-12-29      1.5           1.0
9843  현충원  2019-12-30      0.0           0.0
9844  현충원  2019-12-31      0.0           0.0

[9845 rows x 4 columns]

In [238]:
rain = pd.concat([rain2018,rain2019])
rain

      지점명          일시  강수량(mm)  1시간최다강수량(mm)
0      강남  2018-01-01      0.0           0.0
1      강남  2018-01-02      0.0           0.0
2      강남  2018-01-03      0.0           0.0
3      강남  2018-01-04      0.0           0.0
4      강남  2018-01-05      0.0           0.0
...   ...         ...      ...           ...
9840  현충원  2019-12-27      0.0           0.0
9841  현충원  2019-12-28      0.0           0.0
9842  현충원  2019-12-29      1.5           1.0
9843  현충원  2019-12-30      0.0           0.0
9844  현충원  2019-12-31      0.0           0.0

[20031 rows x 4 columns]

In [239]:
rain['지점명'].unique()

array(['강남', '서초', '강동', '송파', '강서', '양천', '도봉', '노원', '동대문', '중랑', '기상청',
       '마포', '서대문', '광진', '성북', '용산', '은평', '금천', '한강', '중구', '성동', '북악산',
       '구로', '강북', '남현', '관악', '영등포 ', '현충원'], dtype=object)

In [252]:
gi = rain[rain['지점명']=='기상청'].index
gi

Int64Index([3649, 3650, 3651, 3652, 3653, 3654, 3655, 3656, 3657, 3658,
            ...
            4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009, 4010],
           dtype='int64', length=730)

In [255]:
rain1=rain.drop(gi)
rain1

      지점명          일시  강수량(mm)  1시간최다강수량(mm)
0      강남  2018-01-01      0.0           0.0
1      강남  2018-01-02      0.0           0.0
2      강남  2018-01-03      0.0           0.0
3      강남  2018-01-04      0.0           0.0
4      강남  2018-01-05      0.0           0.0
...   ...         ...      ...           ...
9840  현충원  2019-12-27      0.0           0.0
9841  현충원  2019-12-28      0.0           0.0
9842  현충원  2019-12-29      1.5           1.0
9843  현충원  2019-12-30      0.0           0.0
9844  현충원  2019-12-31      0.0           0.0

[19295 rows x 4 columns]

In [256]:
han = rain[rain['지점명']=='한강'].index
han
rain1=rain.drop(han)
rain1

      지점명          일시  강수량(mm)  1시간최다강수량(mm)
0      강남  2018-01-01      0.0           0.0
1      강남  2018-01-02      0.0           0.0
2      강남  2018-01-03      0.0           0.0
3      강남  2018-01-04      0.0           0.0
4      강남  2018-01-05      0.0           0.0
...   ...         ...      ...           ...
9840  현충원  2019-12-27      0.0           0.0
9841  현충원  2019-12-28      0.0           0.0
9842  현충원  2019-12-29      1.5           1.0
9843  현충원  2019-12-30      0.0           0.0
9844  현충원  2019-12-31      0.0           0.0

[19293 rows x 4 columns]

In [259]:
rain1['지점명'].unique()

array(['강남', '서초', '강동', '송파', '강서', '양천', '도봉', '노원', '동대문', '중랑', '기상청',
       '마포', '서대문', '광진', '성북', '용산', '은평', '금천', '중구', '성동', '종로', '구로',
       '강북', '남현', '관악', '영등포 ', '동작'], dtype=object)

In [248]:
ren(rain1['지점명'].unique())

명령 구문이 올바르지 않습니다.

In [258]:
rain1.loc[(rain1.지점명=='현충원'),'지점명'] = '동작'
rain1.loc[(rain1.지점명=='북악산'),'지점명'] = '종로'
rain1

     지점명          일시  강수량(mm)  1시간최다강수량(mm)
0     강남  2018-01-01      0.0           0.0
1     강남  2018-01-02      0.0           0.0
2     강남  2018-01-03      0.0           0.0
3     강남  2018-01-04      0.0           0.0
4     강남  2018-01-05      0.0           0.0
...   ..         ...      ...           ...
9840  동작  2019-12-27      0.0           0.0
9841  동작  2019-12-28      0.0           0.0
9842  동작  2019-12-29      1.5           1.0
9843  동작  2019-12-30      0.0           0.0
9844  동작  2019-12-31      0.0           0.0

[19293 rows x 4 columns]

In [262]:
rain1.loc[(rain1.지점명=='강남'),'지점명'] = '강남구'
rain1.loc[(rain1.지점명=='서초'),'지점명'] = '서초구'
rain1.loc[(rain1.지점명=='강동'),'지점명'] = '강동구'
rain1.loc[(rain1.지점명=='송파'),'지점명'] = '송파구'
rain1.loc[(rain1.지점명=='강서'),'지점명'] = '강서구'
rain1.loc[(rain1.지점명=='양천'),'지점명'] = '양천구'
rain1.loc[(rain1.지점명=='도봉'),'지점명'] = '도봉구'
rain1.loc[(rain1.지점명=='노원'),'지점명'] = '노원구'
rain1.loc[(rain1.지점명=='동대문'),'지점명'] = '동대문구'
rain1.loc[(rain1.지점명=='중랑'),'지점명'] = '중랑구'
rain1.loc[(rain1.지점명=='마포'),'지점명'] = '마포구'
rain1.loc[(rain1.지점명=='서대문'),'지점명'] = '서대문구'
rain1.loc[(rain1.지점명=='광진'),'지점명'] = '광진구'
rain1.loc[(rain1.지점명=='성북'),'지점명'] = '성북구'
rain1.loc[(rain1.지점명=='용산'),'지점명'] = '용산구'
rain1.loc[(rain1.지점명=='은평'),'지점명'] = '은평구'
rain1.loc[(rain1.지점명=='용산'),'지점명'] = '용산구'
rain1.loc[(rain1.지점명=='금천'),'지점명'] = '금천구'
rain1.loc[(rain1.지점명=='중구'),'지점명'] = '중구'
rain1.loc[(rain1.지점명=='성동'),'지점명'] = '성동구'
rain1.loc[(rain1.지점명=='종로'),'지점명'] = '종로구'
rain1.loc[(rain1.지점명=='구로'),'지점명'] = '구로구'
rain1.loc[(rain1.지점명=='강북'),'지점명'] = '강북구'
rain1.loc[(rain1.지점명=='남현'),'지점명'] = '남현구'
rain1.loc[(rain1.지점명=='관악'),'지점명'] = '관악구'
rain1.loc[(rain1.지점명=='영등포'),'지점명'] = '영등포구'
rain1.loc[(rain1.지점명=='동작'),'지점명'] = '동작구'

In [263]:
rain1

      지점명          일시  강수량(mm)  1시간최다강수량(mm)
0     강남구  2018-01-01      0.0           0.0
1     강남구  2018-01-02      0.0           0.0
2     강남구  2018-01-03      0.0           0.0
3     강남구  2018-01-04      0.0           0.0
4     강남구  2018-01-05      0.0           0.0
...   ...         ...      ...           ...
9840  동작구  2019-12-27      0.0           0.0
9841  동작구  2019-12-28      0.0           0.0
9842  동작구  2019-12-29      1.5           1.0
9843  동작구  2019-12-30      0.0           0.0
9844  동작구  2019-12-31      0.0           0.0

[19293 rows x 4 columns]

In [267]:
rain1.rename(columns={'지점명':'발생지_시군구'},inplace=True)
rain1.rename(columns={'일시':'발생일'},inplace=True)
rain1.head()

  발생지_시군구         발생일  강수량(mm)  1시간최다강수량(mm)
0     강남구  2018-01-01      0.0           0.0
1     강남구  2018-01-02      0.0           0.0
2     강남구  2018-01-03      0.0           0.0
3     강남구  2018-01-04      0.0           0.0
4     강남구  2018-01-05      0.0           0.0

In [268]:
all=pd.merge(cr3,rain1)
all

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도,연,월,일,강수량(mm),1시간최다강수량(mm)
0,2018-01-01,00시,0,0,2,0,서울,용산구,이태원동,차대차,...,경상,승용차,남,63세,경상,2018,01,01,0.0,0.0
1,2018-01-01,14시,0,0,1,0,서울,용산구,이태원동,차대사람,...,상해없음,보행자,남,49세,경상,2018,01,01,0.0,0.0
2,2018-01-01,21시,0,0,1,0,서울,용산구,이태원동,차대차,...,상해없음,승용차,남,54세,경상,2018,01,01,0.0,0.0
3,2018-01-01,00시,0,1,1,0,서울,강동구,강일동,차대차,...,상해없음,화물차,남,58세,경상,2018,01,01,0.0,0.0
4,2018-01-01,03시,0,0,1,0,서울,강동구,성내동,차대차,...,경상,승용차,남,18세,상해없음,2018,01,01,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71814,2019-12-31,14시,0,0,0,1,서울,노원구,월계동,차대사람,...,상해없음,보행자,남,7세,부상신고,2019,12,31,0.0,0.0
71815,2019-12-31,18시,0,0,1,0,서울,노원구,공릉동,차대차,...,상해없음,이륜차,남,47세,경상,2019,12,31,0.0,0.0
71816,2019-12-31,15시,0,2,0,0,서울,성동구,금호동4가,차대사람,...,상해없음,보행자,여,62세,중상,2019,12,31,0.0,0.0
71817,2019-12-31,18시,0,0,1,1,서울,도봉구,쌍문동,차대차,...,부상신고,승용차,여,49세,경상,2019,12,31,0.0,0.0
71818,2019-12-31,20시,0,0,1,0,서울,관악구,신림동,차대차,...,상해없음,이륜차,남,30세,경상,2019,12,31,0.0,0.0

In [273]:
del all['월']
del all['일']
all

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,가해당사자종별,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도,강수량(mm),1시간최다강수량(mm)
0,2018-01-01,00시,0,0,2,0,서울,용산구,이태원동,차대차,...,승용차,남,35세,경상,승용차,남,63세,경상,0.0,0.0
1,2018-01-01,14시,0,0,1,0,서울,용산구,이태원동,차대사람,...,승용차,남,33세,상해없음,보행자,남,49세,경상,0.0,0.0
2,2018-01-01,21시,0,0,1,0,서울,용산구,이태원동,차대차,...,승용차,남,33세,상해없음,승용차,남,54세,경상,0.0,0.0
3,2018-01-01,00시,0,1,1,0,서울,강동구,강일동,차대차,...,승용차,남,76세,상해없음,화물차,남,58세,경상,0.0,0.0
4,2018-01-01,03시,0,0,1,0,서울,강동구,성내동,차대차,...,승용차,남,57세,경상,승용차,남,18세,상해없음,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71814,2019-12-31,14시,0,0,0,1,서울,노원구,월계동,차대사람,...,화물차,남,75세,상해없음,보행자,남,7세,부상신고,0.0,0.0
71815,2019-12-31,18시,0,0,1,0,서울,노원구,공릉동,차대차,...,화물차,남,53세,상해없음,이륜차,남,47세,경상,0.0,0.0
71816,2019-12-31,15시,0,2,0,0,서울,성동구,금호동4가,차대사람,...,승용차,여,55세,상해없음,보행자,여,62세,중상,0.0,0.0
71817,2019-12-31,18시,0,0,1,1,서울,도봉구,쌍문동,차대차,...,이륜차,남,29세,부상신고,승용차,여,49세,경상,0.0,0.0
71818,2019-12-31,20시,0,0,1,0,서울,관악구,신림동,차대차,...,승합차,남,54세,상해없음,이륜차,남,30세,경상,0.0,0.0

In [283]:
all.isnull().sum()

발생일             0
발생시간            0
사망자수            0
중상자수            0
경상자수            0
부상신고자수          0
발생지_시도          0
발생지_시군구         0
법정동명            0
사고유형_대분류        0
사고유형_중분류        0
사고유형            0
가해자법규위반         0
도로형태_대분류        0
도로형태            0
노면상태_대분류        0
노면상태            0
기상상태            0
가해당사자종별         0
가해자성별           0
가해자연령           0
가해자신체상해정도       0
피해당사자종별         0
피해자성별           0
피해자연령           0
피해자신체상해정도       0
강수량(mm)         0
1시간최다강수량(mm)    0
dtype: int64

In [282]:
all=all.fillna(0)
all

,발생일,발생시간,사망자수,중상자수,경상자수,부상신고자수,발생지_시도,발생지_시군구,법정동명,사고유형_대분류,...,가해당사자종별,가해자성별,가해자연령,가해자신체상해정도,피해당사자종별,피해자성별,피해자연령,피해자신체상해정도,강수량(mm),1시간최다강수량(mm)
0,2018-01-01,00시,0,0,2,0,서울,용산구,이태원동,차대차,...,승용차,남,35세,경상,승용차,남,63세,경상,0.0,0.0
1,2018-01-01,14시,0,0,1,0,서울,용산구,이태원동,차대사람,...,승용차,남,33세,상해없음,보행자,남,49세,경상,0.0,0.0
2,2018-01-01,21시,0,0,1,0,서울,용산구,이태원동,차대차,...,승용차,남,33세,상해없음,승용차,남,54세,경상,0.0,0.0
3,2018-01-01,00시,0,1,1,0,서울,강동구,강일동,차대차,...,승용차,남,76세,상해없음,화물차,남,58세,경상,0.0,0.0
4,2018-01-01,03시,0,0,1,0,서울,강동구,성내동,차대차,...,승용차,남,57세,경상,승용차,남,18세,상해없음,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71814,2019-12-31,14시,0,0,0,1,서울,노원구,월계동,차대사람,...,화물차,남,75세,상해없음,보행자,남,7세,부상신고,0.0,0.0
71815,2019-12-31,18시,0,0,1,0,서울,노원구,공릉동,차대차,...,화물차,남,53세,상해없음,이륜차,남,47세,경상,0.0,0.0
71816,2019-12-31,15시,0,2,0,0,서울,성동구,금호동4가,차대사람,...,승용차,여,55세,상해없음,보행자,여,62세,중상,0.0,0.0
71817,2019-12-31,18시,0,0,1,1,서울,도봉구,쌍문동,차대차,...,이륜차,남,29세,부상신고,승용차,여,49세,경상,0.0,0.0
71818,2019-12-31,20시,0,0,1,0,서울,관악구,신림동,차대차,...,승합차,남,54세,상해없음,이륜차,남,30세,경상,0.0,0.0

In [284]:
all.to_csv('data/통합본.csv',encoding='utf-8')

In [294]:
all2=all.pivot_table(index=['발생지_시군구'],values=['사망자수','중상자수','경상자수','부상신고자수','강수량(mm)','1시간최다강수량(mm)','발생일']).round(2)
all2

         1시간최다강수량(mm)  강수량(mm)  경상자수  부상신고자수  사망자수  중상자수
발생지_시군구
강남구              1.44     3.57  1.05    0.12  0.00  0.24
강동구              1.35     3.29  0.90    0.14  0.01  0.31
강북구              1.35     3.41  1.00    0.06  0.01  0.28
강서구              1.43     3.23  1.01    0.11  0.01  0.29
관악구              1.34     3.52  0.94    0.10  0.01  0.27
광진구              1.37     3.49  0.96    0.07  0.01  0.31
구로구              1.31     3.30  1.00    0.09  0.01  0.29
금천구              1.30     3.25  1.04    0.09  0.01  0.31
노원구              1.44     3.72  1.00    0.11  0.01  0.27
도봉구              1.57     4.24  0.84    0.15  0.01  0.34
동대문구             1.26     3.08  0.84    0.09  0.01  0.34
동작구              1.25     3.12  0.93    0.17  0.00  0.29
마포구              1.22     2.74  1.05    0.11  0.01  0.27
서대문구             1.23     2.75  0.89    0.21  0.01  0.30
서초구              1.30     3.35  1.07    0.13  0.01  0.26
성동구              1.30     3.12  0.98    0.09  0.01  0.28
성북구              1.18     3.12  0.97    0.08  0.01  0.30
송파구              1.26     3.19  0.96    0.16  0.01  0.26
양천구              1.42     3.50  1.00    0.13  0.01  0.24
용산구              1.40     3.38  1.02    0.07  0.01  0.29
은평구              1.31     3.19  0.89    0.13  0.01  0.33
종로구              1.42     3.85  0.92    0.17  0.00  0.28
중구               1.01     2.54  0.89    0.14  0.01  0.32
중랑구              1.38     3.48  0.90    0.13  0.01  0.30