In [1]:
import pandas as pd
import numpy as np
#실제 그래프를 그릴 수 있는 서브 함수
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('C:/Users/Administrator/Downloads/seonmin/pythonwork/analysis/data/인천 2018 교통사고.xls')
df

,시도,시군구,사고월,사고년도,2018,2018.1,2018.2,2018.3,2018.4,2018.5,...,2018.22,2018.23,2018.24,2018.25,2018.26,2018.27,2018.28,2018.29,2018.30,2018.31
0,시도,시군구,사고월,사고년도,합계,01일,02일,03일,04일,05일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
1,인천,중구,01월,사고건수,33,-,-,1,2,-,...,2,2,-,2,-,2,-,1,1,2
2,인천,중구,01월,사망자수,2,-,-,0,0,-,...,1,0,-,0,-,0,-,0,0,0
3,인천,중구,01월,부상자수,45,-,-,1,3,-,...,3,3,-,4,-,3,-,3,1,2
4,인천,중구,01월,(중상자수),8,-,-,0,0,-,...,0,0,-,0,-,0,-,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,인천,옹진군,12월,부상자수,2,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,-
712,인천,옹진군,12월,(중상자수),0,-,-,-,0,-,...,-,-,-,-,-,-,-,-,-,-
713,인천,옹진군,12월,(경상자수),1,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,-
714,인천,옹진군,12월,(부상신고자수),1,-,-,-,0,-,...,-,-,-,-,-,-,-,-,-,-
715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
## 첫행을 칼럼으로 변경 
df = df.rename(columns=df.iloc[0])
df = df.drop(df.index[0])
df

,시도,시군구,사고월,사고년도,합계,01일,02일,03일,04일,05일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
1,인천,중구,01월,사고건수,33,-,-,1,2,-,...,2,2,-,2,-,2,-,1,1,2
2,인천,중구,01월,사망자수,2,-,-,0,0,-,...,1,0,-,0,-,0,-,0,0,0
3,인천,중구,01월,부상자수,45,-,-,1,3,-,...,3,3,-,4,-,3,-,3,1,2
4,인천,중구,01월,(중상자수),8,-,-,0,0,-,...,0,0,-,0,-,0,-,0,0,0
5,인천,중구,01월,(경상자수),37,-,-,1,3,-,...,3,3,-,4,-,3,-,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,인천,옹진군,12월,부상자수,2,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,-
712,인천,옹진군,12월,(중상자수),0,-,-,-,0,-,...,-,-,-,-,-,-,-,-,-,-
713,인천,옹진군,12월,(경상자수),1,-,-,-,1,-,...,-,-,-,-,-,-,-,-,-,-
714,인천,옹진군,12월,(부상신고자수),1,-,-,-,0,-,...,-,-,-,-,-,-,-,-,-,-
715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
## 합계열 삭제
del df['합계']

In [6]:
df.head()

,시도,시군구,사고월,사고년도,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
1,인천,중구,01월,사고건수,-,-,1,2,-,-,...,2,2,-,2,-,2,-,1,1,2
2,인천,중구,01월,사망자수,-,-,0,0,-,-,...,1,0,-,0,-,0,-,0,0,0
3,인천,중구,01월,부상자수,-,-,1,3,-,-,...,3,3,-,4,-,3,-,3,1,2
4,인천,중구,01월,(중상자수),-,-,0,0,-,-,...,0,0,-,0,-,0,-,0,0,0
5,인천,중구,01월,(경상자수),-,-,1,3,-,-,...,3,3,-,4,-,3,-,3,1,2

In [10]:
# 결측치 제거
df=df.drop(index=715)

In [11]:
df

,시도,시군구,사고월,사고년도,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
1,인천,중구,01월,사고건수,-,-,1,2,-,-,...,2,2,-,2,-,2,-,1,1,2
2,인천,중구,01월,사망자수,-,-,0,0,-,-,...,1,0,-,0,-,0,-,0,0,0
3,인천,중구,01월,부상자수,-,-,1,3,-,-,...,3,3,-,4,-,3,-,3,1,2
4,인천,중구,01월,(중상자수),-,-,0,0,-,-,...,0,0,-,0,-,0,-,0,0,0
5,인천,중구,01월,(경상자수),-,-,1,3,-,-,...,3,3,-,4,-,3,-,3,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,인천,옹진군,12월,사망자수,-,-,-,0,-,-,...,-,-,-,-,-,-,-,-,-,-
711,인천,옹진군,12월,부상자수,-,-,-,1,-,-,...,-,-,-,-,-,-,-,-,-,-
712,인천,옹진군,12월,(중상자수),-,-,-,0,-,-,...,-,-,-,-,-,-,-,-,-,-
713,인천,옹진군,12월,(경상자수),-,-,-,1,-,-,...,-,-,-,-,-,-,-,-,-,-
714,인천,옹진군,12월,(부상신고자수),-,-,-,0,-,-,...,-,-,-,-,-,-,-,-,-,-

In [12]:
df=df.set_index(['시도','시군구','사고월','사고년도'])

In [14]:
df1=df.T

In [15]:
df1

시도     인천                                                         ...       \
시군구    중구                                                         ...  옹진군
사고월   01월                                   02월                   ...  11월
사고년도 사고건수 사망자수 부상자수 (중상자수) (경상자수) (부상신고자수) 사고건수 사망자수 부상자수 (중상자수)  ... 부상자수
01일     -    -    -      -      -        -    -    -    -      -  ...    -
02일     -    -    -      -      -        -    1    0    1      0  ...    -
03일     1    0    1      0      1        0    2    0    2      1  ...    -
04일     2    0    3      0      3        0    3    1    2      1  ...    2
05일     -    -    -      -      -        -    1    0    1      1  ...    -
06일     -    -    -      -      -        -    2    0    3      2  ...    2
07일     1    0    2      0      2        0    1    0    1      1  ...    -
08일     1    0    1      0      1        0    3    0    6      2  ...    -
09일     1    0    1      0      1        0    -    -    -      -  ...    -
10일     1    0    1      1      0        0    1    0    1      1  ...    -
11일     1    0    1      1      0        0    2    0    2      1  ...    -
12일     1    0    1      1      0        0    1    0    1      1  ...    -
13일     1    0    1      0      1        0    3    0    6      2  ...    -
14일     2    0    3      2      1        0    1    0    1      0  ...    -
15일     1    0    1      0      1        0    1    0    1      0  ...    -
16일     2    0    4      1      3        0    3    0    6      4  ...    -
17일     1    0    2      1      1        0    1    0    1      0  ...    -
18일     2    0    2      0      2        0    1    0    1      1  ...    -
19일     2    0    2      1      1        0    1    0    2      0  ...    -
20일     1    1    0      0      0        0    1    0    1      0  ...    -
21일     -    -    -      -      -        -    1    0    1      1  ...    -
22일     2    1    3      0      3        0    1    0    2      0  ...    -
23일     2    0    3      0      3        0    -    -    -      -  ...    -
24일     -    -    -      -      -        -    2    0    2      0  ...    -
25일     2    0    4      0      4        0    -    -    -      -  ...    -
26일     -    -    -      -      -        -    3    1    2      1  ...    -
27일     2    0    3      0      3        0    -    -    -      -  ...    -
28일     -    -    -      -      -        -    2    0    2      1  ...    -
29일     1    0    3      0      3        0    -    -    -      -  ...    -
30일     1    0    1      0      1        0    -    -    -      -  ...    3
31일     2    0    2      0      2        0    -    -    -      -  ...    -

시도
시군구
사고월                          12월
사고년도 (중상자수) (경상자수) (부상신고자수) 사고건수 사망자수 부상자수 (중상자수) (경상자수) (부상신고자수)
01일       -      -        -    -    -    -      -      -        -
02일       -      -        -    -    -    -      -      -        -
03일       -      -        -    -    -    -      -      -        -
04일       0      2        0    1    0    1      0      1        0
05일       -      -        -    -    -    -      -      -        -
06일       0      2        0    -    -    -      -      -        -
07일       -      -        -    -    -    -      -      -        -
08일       -      -        -    -    -    -      -      -        -
09일       -      -        -    -    -    -      -      -        -
10일       -      -        -    -    -    -      -      -        -
11일       -      -        -    -    -    -      -      -        -
12일       -      -        -    -    -    -      -      -        -
13일       -      -        -    -    -    -      -      -        -
14일       -      -        -    -    -    -      -      -        -
15일       -      -        -    -    -    -      -      -        -
16일       -      -        -    -    -    -      -      -        -
17일       -      -        -    -    -    -      -      -        -
18일       -      -        -    -    -    -      -      -        -
19일       -      -        -    -    -    -      -      -        -
20일       -      -        -    1    0    1      0      0        1
21일       -      -        -    -    -    -      -      -        -
22일       -      -        -    -    -    -      -      -        -
23일       -      -        -    -    -    -      -      -        -
24일       -      -        -    -    -    -      -      -        -
25일       -      -        -    -    -    -      -      -        -
26일       -      -        -    -    -    -      -      -        -
27일       -      -        -    -    -    -      -      -        -
28일       -      -        -    -    -    -      -      -        -
29일       -      -        -    -    -    -      -      -        -
30일       0      3        0    -    -    -      -      -        -
31일       -      -        -    -    -    -      -      -        -

[31 rows x 714 columns]

In [19]:
df1=df1.stack('시도')

In [20]:
df1=df1.stack('시군구')

In [21]:
df1=df1.stack('사고월')

In [22]:
df1

사고년도           (경상자수) (부상신고자수) (중상자수) 부상자수 사고건수 사망자수
    시도 시군구 사고월
01일 인천 강화군 01월      1        0      0    1    1    0
           02월      1        0      0    1    1    0
           03월      0        0      1    1    1    0
           04월      -        -      -    -    -    -
           05월      1        0      0    1    1    0
...               ...      ...    ...  ...  ...  ...
31일 인천 중구  08월      -        -      -    -    -    -
           09월      -        -      -    -    -    -
           10월      -        -      -    -    -    -
           11월      -        -      -    -    -    -
           12월      -        -      -    -    -    -

[3689 rows x 6 columns]

In [27]:
df1=df1.reset_index()

In [30]:
df1.rename(columns={'level_0':'사고일'},inplace=True)
df1.columns.name=''

In [31]:
df1

      사고일  시도  시군구  사고월 (경상자수) (부상신고자수) (중상자수) 부상자수 사고건수 사망자수
0     01일  인천  강화군  01월      1        0      0    1    1    0
1     01일  인천  강화군  02월      1        0      0    1    1    0
2     01일  인천  강화군  03월      0        0      1    1    1    0
3     01일  인천  강화군  04월      -        -      -    -    -    -
4     01일  인천  강화군  05월      1        0      0    1    1    0
...   ...  ..  ...  ...    ...      ...    ...  ...  ...  ...
3684  31일  인천   중구  08월      -        -      -    -    -    -
3685  31일  인천   중구  09월      -        -      -    -    -    -
3686  31일  인천   중구  10월      -        -      -    -    -    -
3687  31일  인천   중구  11월      -        -      -    -    -    -
3688  31일  인천   중구  12월      -        -      -    -    -    -

[3689 rows x 10 columns]

In [33]:
df1=df1.set_index(['사고일','시도','시군구','사고월'])
df1

               (경상자수) (부상신고자수) (중상자수) 부상자수 사고건수 사망자수
사고일 시도 시군구 사고월
01일 인천 강화군 01월      1        0      0    1    1    0
           02월      1        0      0    1    1    0
           03월      0        0      1    1    1    0
           04월      -        -      -    -    -    -
           05월      1        0      0    1    1    0
...               ...      ...    ...  ...  ...  ...
31일 인천 중구  08월      -        -      -    -    -    -
           09월      -        -      -    -    -    -
           10월      -        -      -    -    -    -
           11월      -        -      -    -    -    -
           12월      -        -      -    -    -    -

[3689 rows x 6 columns]

In [34]:
df2=df1.swaplevel('사고일','시군구')

In [36]:
df2=df2.swaplevel('사고일','사고월')
df2

               (경상자수) (부상신고자수) (중상자수) 부상자수 사고건수 사망자수
시군구 시도 사고월 사고일
강화군 인천 01월 01일      1        0      0    1    1    0
       02월 01일      1        0      0    1    1    0
       03월 01일      0        0      1    1    1    0
       04월 01일      -        -      -    -    -    -
       05월 01일      1        0      0    1    1    0
...               ...      ...    ...  ...  ...  ...
중구  인천 08월 31일      -        -      -    -    -    -
       09월 31일      -        -      -    -    -    -
       10월 31일      -        -      -    -    -    -
       11월 31일      -        -      -    -    -    -
       12월 31일      -        -      -    -    -    -

[3689 rows x 6 columns]

In [37]:
df2=df2.swaplevel('시군구','시도')
df2

               (경상자수) (부상신고자수) (중상자수) 부상자수 사고건수 사망자수
시도 시군구 사고월 사고일
인천 강화군 01월 01일      1        0      0    1    1    0
       02월 01일      1        0      0    1    1    0
       03월 01일      0        0      1    1    1    0
       04월 01일      -        -      -    -    -    -
       05월 01일      1        0      0    1    1    0
...               ...      ...    ...  ...  ...  ...
   중구  08월 31일      -        -      -    -    -    -
       09월 31일      -        -      -    -    -    -
       10월 31일      -        -      -    -    -    -
       11월 31일      -        -      -    -    -    -
       12월 31일      -        -      -    -    -    -

[3689 rows x 6 columns]

In [43]:
df2=df2.reset_index()

In [48]:
df2

      시도  시군구  사고월  사고일 (경상자수) (부상신고자수) (중상자수) 부상자수 사고건수 사망자수
0     인천  강화군  01월  01일      1        0      0    1    1    0
1     인천  강화군  02월  01일      1        0      0    1    1    0
2     인천  강화군  03월  01일      0        0      1    1    1    0
3     인천  강화군  04월  01일      -        -      -    -    -    -
4     인천  강화군  05월  01일      1        0      0    1    1    0
...   ..  ...  ...  ...    ...      ...    ...  ...  ...  ...
3684  인천   중구  08월  31일      -        -      -    -    -    -
3685  인천   중구  09월  31일      -        -      -    -    -    -
3686  인천   중구  10월  31일      -        -      -    -    -    -
3687  인천   중구  11월  31일      -        -      -    -    -    -
3688  인천   중구  12월  31일      -        -      -    -    -    -

[3689 rows x 10 columns]

In [59]:
df2.rename(columns={'사고월':'월'},inplace=True)
df2.rename(columns={'사고일':'일'},inplace=True)
df2.rename(columns={"(경상자수)":'경상자수'},inplace=True)
df2.rename(columns={'(부상신고자수)':'부상신고자수'},inplace=True)
df2.rename(columns={'(중상자수)':'중상자수'},inplace=True)

In [60]:
df2

      시도  시군구    월    일 경상자수 부상신고자수 중상자수 부상자수 사고건수 사망자수
0     인천  강화군  01월  01일    1      0    0    1    1    0
1     인천  강화군  02월  01일    1      0    0    1    1    0
2     인천  강화군  03월  01일    0      0    1    1    1    0
3     인천  강화군  04월  01일    -      -    -    -    -    -
4     인천  강화군  05월  01일    1      0    0    1    1    0
...   ..  ...  ...  ...  ...    ...  ...  ...  ...  ...
3684  인천   중구  08월  31일    -      -    -    -    -    -
3685  인천   중구  09월  31일    -      -    -    -    -    -
3686  인천   중구  10월  31일    -      -    -    -    -    -
3687  인천   중구  11월  31일    -      -    -    -    -    -
3688  인천   중구  12월  31일    -      -    -    -    -    -

[3689 rows x 10 columns]

In [78]:
df2.loc[df2['경상자수']== '-',df['경상자수']]= 0

KeyError: '경상자수'

In [83]:
df2=df2.replace({'-':0})

In [85]:
df2['경상자수']= pd.to_numeric(df['경상자수'])

KeyError: '경상자수'

In [86]:
df2

      시도  시군구    월    일  경상자수  부상신고자수  중상자수  부상자수  사고건수  사망자수
0     인천  강화군  01월  01일     1       0     0     1     1     0
1     인천  강화군  02월  01일     1       0     0     1     1     0
2     인천  강화군  03월  01일     0       0     1     1     1     0
3     인천  강화군  04월  01일     0       0     0     0     0     0
4     인천  강화군  05월  01일     1       0     0     1     1     0
...   ..  ...  ...  ...   ...     ...   ...   ...   ...   ...
3684  인천   중구  08월  31일     0       0     0     0     0     0
3685  인천   중구  09월  31일     0       0     0     0     0     0
3686  인천   중구  10월  31일     0       0     0     0     0     0
3687  인천   중구  11월  31일     0       0     0     0     0     0
3688  인천   중구  12월  31일     0       0     0     0     0     0

[3689 rows x 10 columns]

In [87]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3689 entries, 0 to 3688
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      3689 non-null   object
 1   시군구     3689 non-null   object
 2   월       3689 non-null   object
 3   일       3689 non-null   object
 4   경상자수    3689 non-null   int64
 5   부상신고자수  3689 non-null   int64
 6   중상자수    3689 non-null   int64
 7   부상자수    3689 non-null   int64
 8   사고건수    3689 non-null   int64
 9   사망자수    3689 non-null   int64
dtypes: int64(6), object(4)
memory usage: 288.3+ KB

In [89]:
df2.groupby('월').mean()

         경상자수    부상신고자수      중상자수      부상자수      사고건수      사망자수
월
01월  2.309677  0.129032  0.758065  3.196774  2.238710  0.045161
02월  2.605735  0.161290  0.741935  3.508961  2.279570  0.032258
03월  2.025806  0.161290  0.612903  2.800000  1.887097  0.022581
04월  1.996774  0.154839  0.703226  2.854839  1.977419  0.032258
05월  2.296774  0.177419  0.606452  3.080645  2.148387  0.006452
06월  1.906452  0.164516  0.732258  2.803226  1.954839  0.012903
07월  2.180645  0.112903  0.670968  2.964516  2.164516  0.041935
08월  2.158065  0.183871  0.538710  2.880645  1.929032  0.038710
09월  2.216129  0.212903  0.719355  3.148387  2.190323  0.032258
10월  2.212903  0.145161  0.803226  3.161290  2.174194  0.041935
11월  1.906452  0.103226  0.661290  2.670968  1.970968  0.035484
12월  2.000000  0.183871  0.503226  2.687097  1.932258  0.025806

In [98]:
df2[df2['월']== '02월']

      시도   시군구    월    일  경상자수  부상신고자수  중상자수  부상자수  사고건수  사망자수     연도
1     인천   강화군  02월  01일     1       0     0     1     1     0  2018년
13    인천   계양구  02월  01일     1       0     3     4     4     0  2018년
25    인천   남동구  02월  01일     7       2     4    13     9     0  2018년
37    인천    동구  02월  01일     0       0     1     1     1     0  2018년
49    인천  미추홀구  02월  01일     0       0     0     0     0     0  2018년
...   ..   ...  ...  ...   ...     ...   ...   ...   ...   ...    ...
3619  인천  미추홀구  02월  31일     0       0     0     0     0     0  2018년
3631  인천   부평구  02월  31일     0       0     0     0     0     0  2018년
3643  인천    서구  02월  31일     0       0     0     0     0     0  2018년
3655  인천   연수구  02월  31일     0       0     0     0     0     0  2018년
3678  인천    중구  02월  31일     0       0     0     0     0     0  2018년

[279 rows x 11 columns]

In [92]:
df2['연도']= '2018년'

In [93]:
df2

      시도  시군구    월    일  경상자수  부상신고자수  중상자수  부상자수  사고건수  사망자수     연도
0     인천  강화군  01월  01일     1       0     0     1     1     0  2018년
1     인천  강화군  02월  01일     1       0     0     1     1     0  2018년
2     인천  강화군  03월  01일     0       0     1     1     1     0  2018년
3     인천  강화군  04월  01일     0       0     0     0     0     0  2018년
4     인천  강화군  05월  01일     1       0     0     1     1     0  2018년
...   ..  ...  ...  ...   ...     ...   ...   ...   ...   ...    ...
3684  인천   중구  08월  31일     0       0     0     0     0     0  2018년
3685  인천   중구  09월  31일     0       0     0     0     0     0  2018년
3686  인천   중구  10월  31일     0       0     0     0     0     0  2018년
3687  인천   중구  11월  31일     0       0     0     0     0     0  2018년
3688  인천   중구  12월  31일     0       0     0     0     0     0  2018년

[3689 rows x 11 columns]

In [95]:
df2.to_csv('C:/Users/Administrator/Downloads/seonmin/pythonwork/analysis/data/세미프로젝트/2018 인천 교통사고 전처리.csv')

In [96]:
df2019 = pd.read_excel('C:/Users/Administrator/Downloads/seonmin/pythonwork/analysis/data/인천 2019 교통사고.xls')
df2019

,시도,시군구,사고월,사고년도,2019,2019.1,2019.2,2019.3,2019.4,2019.5,...,2019.22,2019.23,2019.24,2019.25,2019.26,2019.27,2019.28,2019.29,2019.30,2019.31
0,시도,시군구,사고월,사고년도,합계,01일,02일,03일,04일,05일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
1,인천,중구,01월,사고건수,48,1,1,1,2,3,...,1,1,2,1,4,1,3,2,5,2
2,인천,중구,01월,사망자수,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,인천,중구,01월,부상자수,108,4,1,1,2,3,...,1,6,2,1,4,1,5,3,43,2
4,인천,중구,01월,(중상자수),31,0,0,0,1,1,...,0,3,1,0,0,0,3,0,18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,인천,옹진군,12월,부상자수,1,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
706,인천,옹진군,12월,(중상자수),0,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
707,인천,옹진군,12월,(경상자수),1,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
708,인천,옹진군,12월,(부상신고자수),0,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN